ul {
    list-style: none;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    li {
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
        cursor: pointer;
        background: #fff;
        &:hover {
            background: #ccc;
        }
    }
}
